$fontInter: "Inter";
$colorGray: #72787d;
$colorLightGray: #eef2f3;
$colorBlue: #036fc7;
$colorBlack: #212b31;
$colorDefault: #000000;
$colorYellow: #ffd042;
$colorWhite: #ffffff;
$color75White: #bfbfbf;
$colorWhiteGray: #dadedf;
@import "node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

body {
    margin: 0;
}

ul {
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: $colorDefault;
    user-select: none;
}

header {
    z-index: 1000;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    will-change: display;

    
    .logo {
        z-index: 1100;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            margin-right: 10px;
        }

        div {
            text-transform: uppercase;
            @include stFont($font-size: 22px);
        }
    }

    nav#desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include stFont();

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            li {
                margin-left: 20px;

                a {
                    transition: color 0.1s ease-in-out;
                    color: $colorGray;
                    
                    &:hover {
                        color: $colorBlue;
                    }
                }
            }
            
            li:first-child {
                margin-left: 0px;
            }
        }
        
        .requestButton {
            transition: all 0.1s ease-in-out;
            @include button(#fff, $colorBlack, 140px, 35px);
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
            margin-left: 20px;
        }
    }
    &.sticked {
        background-color: $colorBlack;
    
        .logo div,
        nav#desktop ul li a {
            color: white;
        }
    
        nav#desktop .requestButton {
            @include button($colorBlack, white, 140px, 35px);
        }
    
        .hamburger {
            .hamburger-inner,
            .hamburger-inner:before,
            .hamburger-inner:after {
                background-color: white;
            }
        }
    }
    
    margin-bottom: 0px;
}

.hamburgerMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menuWrapper {
    background-color: #fff;
    display: none;
    width: 100%;
    position: absolute;
    padding: 40px 0px;
    top: 60px;
    height: 300px;
}

nav.menu {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    }
    li {
        @include stFont(20px, $colorBlack);
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

section#First {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        width: 70%;
        @include stFont(48px, $colorBlack);
        font-style: normal;
        font-weight: 400;
        text-align: center;
    }

    .buttons {
        width: 340px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include stFont($font-size: 17px);

        .requestButton {
            @include button(#fff, $colorBlack, 160px, 50px);
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
        }

        .detailsButton {
            @include button($colorBlack, #fff, 150px, 50px);
            border: 1px solid $colorWhiteGray;
        }

        margin-bottom: 90px;
    }

    .mainPic {
        margin-bottom: 35px;
    }

    .mainPic, .subPic {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    margin-bottom: 75px;
}

section#Second {
    .advantages {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .item {
            padding: 0px 3%;
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;

            .icon {
                margin-bottom: 20px;
            }

            .title {
                @include stFont(18px, $colorBlack);
                line-height: 24px;
                margin-bottom: 10px;
            }

            .description {
                @include stFont(16px, $colorGray);
                line-height: 24px;
            }
        }
    }

    margin-bottom: 50px;
}

section#Third {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h2 {
        text-align: center;
        @include stFont(32px, $colorBlack);
        margin-bottom: 16px;
    }

    h3 {
        margin: 0;
        width: 80%;
        text-align: center;
        @include stFont(20px, $colorGray);
        line-height: 32px;
        margin-bottom: 40px;
    }

    .mainPic {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    margin-bottom: 80px;
}

section#Fourth {
    margin: 0 auto;
    width: 55%;

    h2 {
        text-align: center;
        @include stFont(32px, $colorBlack);
    }

    margin-bottom: 60px;
}

section#Fifth {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .content {
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .title {
            @include stFont(32px, $colorBlack);
            line-height: 48px;
            margin-bottom: 10px;
        }

        .description {
            @include stFont(20px, $colorGray);
            line-height: 32px;
            margin-bottom: 20px;
        }

        .subText {
            @include stFont(20px, $colorBlack);
            line-height: 32px;

            .background {
                margin-top: -16px;
                width: 250px;
                height: 16px;
                background-color: $colorYellow;
            }
        }
    }
    .image {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

section#Sixth {
    width: 80%;
    margin: 0 auto;

    hr {
        border: none;
        background-color: $colorLightGray;
        height: 1px;
        margin: 56px 0px;
    }

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;

        .logo {
            margin-right: 40px;
            transition: transform 0.3s ease-in-out;
        }

        .logo:not(:last-child) {
            margin-bottom: 10px;
        }

        .logo:hover {
            transform: scale(1.1);
        }
    }
}

section#Seventh {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h3,
    article {
        text-align: center;
    }

    h3 {
        margin-top: 0px;
        @include stFont(32px, $colorBlack);
    }

    article {
        padding: 0% 20%;
        @include stFont(20px, $colorGray);
        line-height: 32px;
        margin-bottom: 30px;
    }

    .blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block1,
    .block2,
    .block3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 65px;
        width: 80%;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .title {
            @include stFont(18px, $colorBlack);
            margin-bottom: 20px;
        }

        .description {
            @include stFont(16px, $colorGray);
            line-height: 24px;
        }
    }

    .image {
        margin: 0 8%;
    }

    margin-bottom: 0px;
}

section#delivery {
    .delivery {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .sectionDescription {
            margin: 0 auto;

            h2,
            h3 {
                text-align: center;
            }

            h2 {
                @include stFont(32px, $colorBlack);
            }

            h3 {
                padding: 0 15%;
                @include stFont(20px, $colorGray);
                line-height: 32px;
                margin-bottom: 40px;
            }
        }

        .types {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;

            .type {
                width: 32%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;

                .icon {
                    margin-right: 15px;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .title {
                        @include stFont(18px, $colorBlack);
                        margin-bottom: 10px;
                    }

                    .description {
                        @include stFont(16px, $colorGray);
                        line-height: 24px;
                    }
                }

                margin-bottom: 40px;
            }
        }

        .subText {
            line-height: 32px;

            span {
                @include stFont(20px, $colorBlack);
            }

            @include stFont(20px, $colorGray);

            .background {
                margin-top: -16px;
                width: 310px;
                height: 16px;
                background-color: $colorYellow;
            }
        }
    }

    margin-bottom: 70px;
}

section#Ninth {
    margin: 0 auto;

    .reliability {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        h2 {
            @include stFont(32px, $colorBlack);
        }
    }

    h3 {
        width: 60%;
        @include stFont(20px, $colorGray);
        line-height: 32px;
        text-align: center;
        margin-bottom: 50px;
    }

    .blocks {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .block {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .icon {
                margin-bottom: 20px;
            }

            .title,
            .description {
                text-align: center;
            }

            .title {
                @include stFont(18px, $colorBlack);
                margin-bottom: 10px;
            }

            .description {
                @include stFont(16px, $colorGray);
                line-height: 24px;
            }
        }
    }

    margin-bottom: 140px;
}

section#Black {
    background-color: $colorBlack;
    padding-top: 140px;

    .Black {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .firstBlock {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;

            h2 {
                margin-top: 0px;
                @include stFont(32px, white);
                margin-bottom: 50px;
            }

            .content {
                margin-left: 15%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .dots {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .dot {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;

                        .point {
                            margin-right: 30px;
                        }

                        .content {
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;

                            .title {
                                @include stFont(18px, $colorWhite);
                                margin-bottom: 10px;
                            }

                            .description {
                                @include stFont(16px, $color75White);
                                line-height: 24px;
                            }
                        }

                        margin-bottom: 30px;
                    }

                    margin-bottom: 10px;
                }

                .buttons {
                    width: 340px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    @include stFont($font-size: 17px);

                    .requestButton {
                        @include button($colorBlack, #fff, 160px, 50px);
                        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
                    }

                    .detailsButton {
                        @include button(#fff, $colorBlack, 150px, 50px);
                        border: 1px solid $colorWhiteGray;
                    }

                    margin-bottom: 90px;
                }
            }

        }

        .secondBlock {
            display: flex;
            flex-direction: column;
            align-items: center;

            .blocks {
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                .block {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    .icon {
                        margin-bottom: 20px;
                    }

                    .title,
                    .description {
                        text-align: center;
                    }

                    .title {
                        @include stFont(18px, $colorWhite);
                        margin-bottom: 10px;
                    }

                    .description {
                        @include stFont(16px, $color75White);
                        line-height: 24px;
                    }
                }
            }

            margin-bottom: 100px;
        }
    }

    margin-bottom: 100px;
}


section#HowToWorkWith {
    .HowToWork {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 70%;
        margin: 0 auto;

        .leftBlock {
            h2 {
                margin-top: 0px;
                @include stFont(32px, $colorBlack);
                margin-bottom: 20px;
            }

            h3 {
                @include stFont(20px, $colorGray);
                line-height: 32px;
                margin-bottom: 60px;
            }

            margin-right: 75px;

            .image {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .rightBlock {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 60%;

            .steps {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;

                .step {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .number {
                        padding: 10px 15px;
                        @include stFont(16px, $colorGray);
                        border: 1px solid $colorWhiteGray;
                        margin-right: 15px;
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;

                        .title {
                            @include stFont(18px, $colorBlack);
                            margin-bottom: 10px;
                        }

                        .description {
                            @include stFont(16px, $colorGray);
                            line-height: 24px;
                        }
                    }

                    margin-bottom: 40px;
                }
            }

            .buttons {
                width: 340px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                @include stFont($font-size: 17px);

                .requestButton {
                    @include button(#fff, $colorBlack, 160px, 50px);
                    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
                }

                .detailsButton {
                    @include button($colorBlack, #fff, 150px, 50px);
                    border: 1px solid $colorWhiteGray;
                }

                margin-bottom: 90px;
            }
        }
    }
}

section#WhyWe {
    .WhyWe {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &>.title {
            text-align: center;
        }
    }

    h2 {
        margin-top: 0px;
        @include stFont(32px, $colorBlack);
        margin-bottom: 20px;
    }

    h3 {
        @include stFont(20px, $colorGray);
        line-height: 32px;
        margin-bottom: 60px;
    }

    .WhyWe>.content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .leftBlock {
            width: 60%;

            .benefits {
                // width: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;

                .benefit {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .icon {
                        margin-right: 15px;
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;

                        .title {
                            @include stFont(18px, $colorBlack);
                            margin-bottom: 10px;
                        }

                        .description {
                            @include stFont(16px, $colorGray);
                            line-height: 24px;
                        }
                    }

                }

                .benefit:not(:last-child) {
                    margin-bottom: 40px;
                }
            }

            margin-right: 130px;
        }

        .rightBlock {
            width: 80%;

            .slider {
                z-index: 100;
                background-color: #F6F8F9;
                position: relative;
                padding: 60px 90px 60px 90px;

                .icon {
                    z-index: 90;
                    top: 40px;
                    left: 40px;
                    position: absolute;
                }

                .slide {
                    position: relative;
                    z-index: 110;

                    .title {
                        @include stFont (30px, $colorBlack);
                        line-height: 48px;
                        margin-bottom: 30px;
                    }

                    .author {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        .photo {
                            margin-right: 10px;
                        }

                        .details {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            .name {
                                @include stFont (16px, $colorBlack);
                                margin-bottom: 3px;
                            }

                            .spec {
                                @include stFont (16px, $colorGray);
                            }
                        }
                    }

                    margin-bottom: 30px;
                }

                .navigation {
                    .dots {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        .dot {
                            transition: background-color 0.2s ease-in-out;
                            width: 8px;
                            height: 8px;
                            background: rgba(3, 111, 199, 0.2);
                            border-radius: 8px;

                            margin-right: 8px;

                            &:hover {
                                background-color: #036FC7;
                            }
                        }
                    }
                }
            }
        }
        margin-bottom: 100px;
    }
    .awards {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        flex-wrap: wrap;
        .award {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .logo {
                margin-bottom: 30px;
            }
            .description {
                text-align: center;
                width: 50%;
                @include stFont (16px, $colorGray);
            }
        }
        .award:not(:last-child) {
            margin-bottom: 50px;
        }
    }
    margin-bottom: 130px;
}

section#AreYouReady {
    .AreYouReady {
        margin: 0 auto;
        padding: 100px 0px;
        background-image: url('../../images/dest/Rectangle (21).png');
        background-size: cover;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h2 {
            text-align: center;
            width: 80%;
            margin-top: 0px;
            @include stFont (48px, $colorBlack);
            line-height: 64px;
        }
        .buttons {
            width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include stFont($font-size: 17px);
    
            .requestButton {
                @include button(#fff, $colorBlack, 160px, 50px);
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
            }
    
            .contactButton {
                @include button($colorBlack, #fff, 200px, 50px);
                border: 1px solid $colorWhiteGray;
                font-weight: 500;
            }
        }
    }
    margin-bottom: 150px;
}

footer {
    width: 80%;
    margin: 0 auto;
    .row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        .contacts, .column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        .contacts {
            .logo {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .icon {
                    margin-right: 8px;
                }
                .title {
                    @include stFont (16px, $colorBlack);
                    text-transform: uppercase;
                }
                margin-bottom: 20px;
            }
            .adress, .emailTel {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                @include stFont (16px, $colorGray);
                .city, .email {
                    margin-bottom: 5px;
                }
                margin-bottom: 15px;
            }
            .emailTel {
                .email {
                    @include stFont (16px, $colorGray);
                }
                .tel {
                    @include stFont (16px, $colorGray);
                }
            }
        }
        .column {
            .title {
                @include stFont (16px, $colorBlack);
                margin-bottom: 20px;
            }
            .option {
                margin-bottom: 10px;
                @include stFont (15px, $colorGray);
            }
        }
        margin-bottom: 160px;
    }
    hr {
        border: none;
        background-color: $colorLightGray;
        height: 1px;
        margin: 0px;
    }
    .copywrite {
        margin: 0 auto;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 32px 0px;
        .rights, .policy {
            @include stFont (16px, $colorGray);
        }
    }
}